.headerpage {
    margin-top: 10%;
    margin-left: 2rem;
    margin-right: 2rem;
    z-index: 1;
}

.container {
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.before-open {
    transform: translateY(-5%);
    transition: transform 0.5s ease-in-out  
}

.open {
    transform: translateY(0%);
    transition: transform 0.5s ease-in-out  
}

.bgcontact {
    background-image: linear-gradient( rgb(28, 29, 31), #544f3f);
}