.footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(  #544f3f, rgb(28, 29, 31));

  }

.social-icon {
    transition: transform 0.3s ease-in-out;
}
   
.social-icon:hover {
    transform: scale(1.1);
}

.font-text {
    font-family:"Calibri", sans-serif;
  }
  
   