.footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

.social-icon {
    transition: transform 0.3s ease-in-out;
}
   
.social-icon:hover {
    transform: scale(1.1);
}
   