.navbar {
    position:absolute;
    width:100%;
    z-index: 14;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar a img {
    width: 15vmax;
}

.menu-option {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem/* 12px */;
    padding-right: 0.75rem/* 12px */;
}

.menu-option:hover {
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.25rem/* 4px */;
    color: rgb(0, 140, 255);
}

.hover-button:hover {
    transform: scale(1.1);
}

.exit-menu {
    position: absolute;
    margin-right: 3.25rem;
    margin-top: 4rem;
    right: 0;
    border-radius: 0.25rem/* 4px */;
    color: white
}