@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
* {
  font-family:'Open Sans', sans-serif;
}

#body-content {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.my-background {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
